<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">


<ion-content>
  <div style="display: flex; justify-content: center;">
    <img src="../../assets/Hear.png" alt="icon" class="icon-image" style="padding-top: 50%; margin-bottom:0%; z-index: 0;">
  </div>
  <div class="wrapper">
    <ion-text class="first-name-text">First Name</ion-text>
    <ion-textarea class="input-box" fill="solid" placeholder="Enter text" [(ngModel)]="userName"></ion-textarea>
    <button class="save-button" (click)="saveName()" [disabled]="!userName.trim()">Save</button>

  </div>
</ion-content>
