<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let file of files">
      <ion-label>{{ file.name }} - Duration: {{ file.duration }}</ion-label>
      <ion-button fill="clear" slot="end" (click)="playFile(file)">
        <ion-icon name="play"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" (click)="pauseFile(file)">
        <ion-icon name="pause"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" (click)="deleteFile(file)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button size="large" class="to-folder-button" (click)="backToJournal()">
    <ion-icon name="arrow-back"></ion-icon> Go back to Voice Journal
  </ion-button>
  <ion-button (click)="clearAllFiles()">Clear All Files</ion-button>

</ion-footer>
