<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Voice Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Horizontal scroll for dynamically created folder buttons -->
  <div class="horizontal-scroll">
    <ion-button size="large" class="to-folder-button" (click)="navigateToVF('My Recording')">
      My Recording <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button *ngFor="let folder of folders" size="large" class="to-folder-button" (click)="navigateToVF(folder.name)"> 
      {{ folder.name }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button size="large" class="add-folder-button" (click)="createNewFolder()">
      Add more <ion-icon slot="end" name="add"></ion-icon>
    </ion-button>
  </div>

  <!-- Display files with vertical scrolling -->
  <ion-list class="display-files">
    <ion-card *ngFor="let file of files" (click)="navigateToWrittenJournal(file)">
      <ion-card-header>
        <ion-card-title>{{ file.name }}</ion-card-title>
        <ion-card-subtitle>{{ file.folder }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Date: {{ file.date }}<br>
        Time: {{ file.time }}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Recording status display -->
  <div class="recording-card" *ngIf="recording">
    <ion-card class="ion-record">
      <ion-card-header>
        <ion-card-title>Recording</ion-card-title>
      </ion-card-header>
      <ion-card-subtitle>
        <p>Duration: {{ calculateDuration() }}</p>
      </ion-card-subtitle>
    </ion-card>
  </div>

  <!-- Controls for recording -->
  <div class="custom-footer">
    <button class="play-button" (click)="startRecording()" [disabled]="recording">
      <ion-icon name="play"></ion-icon>
    </button>
    <button class="stop-button" (click)="stopRecording()" [disabled]="!recording">
      <ion-icon name="square"></ion-icon>
    </button>
    <button class="trash-button" (click)="clearStorage()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>
</ion-content>
